.SECTION {
  width: 100%;
  display: grid;
  grid-template-columns: 600px auto;
}
.profile-card {
  height: 400px;
  width: 300px;
  border-radius: 5px;
  grid-column: 1/2;
  margin-top: 50px;
  margin-left: 100px;
  box-shadow: 1px 1px 10px 1px grey;
  text-align: center;
  align-items: center;
  align-content: center;
}
.expense-div {
  grid-column: 2/3;
  /* border: 2px solid black; */
  width: 100%;
}
.profile_icon {
  height: 150px;
  width: 150px;
  border-radius: 80px;
  margin-top: 30px;
}
.name {
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
}
.common-css {
  font-weight: lighter;
  color: #5c5c5c;
}
.edit-profile {
  width: 100px;
  height: 20px;
  border: 2px #5c5c5c solid;
  border-radius: 5px;
  margin-left: 95px;
  padding-top: 0px;
}
.total-expense-card {
  height: auto;
  width: 600px;
  border-radius: 5px;
  grid-column: 1/2;
  margin-top: 55px;
  box-shadow: 1px 1px 10px 1px grey;
  text-align: center;
  align-items: center;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px 30px;
}
.average-expense-card {
  height: auto;
  width: 600px;
  padding: 20px 30px;
  border-radius: 5px;
  grid-column: 1/2;
  margin-top: 20px;
  box-shadow: 1px 1px 10px 1px grey;
  text-align: center;
  align-items: center;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.profile-heading {
  font-size: 40px;
  font-weight: bolder;
  margin-top: 40px;
  margin-left: 40px;
  color: #5c5c5c;
}
.connect-to-google {
  width: 170px;
  height: 30px;
  border: 2px #5c5c5c solid;
  border-radius: 5px;
  margin-left: 240px;
  margin-top: 80px;
  text-align: center;
}
.google-icon {
  height: 20px;
  width: 27px;
  margin-top: 5px;
}
.connect-to-google-text {
  font-weight: bolder;
  position: relative;
  top: -5px;
}
.total-expenses {
  width: 100%;
  height: 150px;
  grid-column: 1/2;
  border-right: 2px #e5e5e5 solid;
}
.maximum-expenses {
  width: 100%;
  height: 150px;
  grid-column: 2/2;
}
.total-expenses-text {
  font-weight: bold;
  font-size: 25px;
}
.total-expenses-text-sub1 {
  color: green;
  font-weight: bold;
}
.total-expenses-text-sub2 {
  color: #5c5c5c;
  font-weight: bold;
}
.table-1 {
  width: 100%;
  text-align: left;
  
 
  grid-column: 1/2;
}
.table-2 {
  width: 100%;
 text-align: right;
 
  grid-column: 2/2;
}
.percentage-of-expenses-heading {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  grid-column: 1/-1;
}
.limit {
  color: #006edd;
  font-size: 18px;
  position: relative;
 grid-column: 2/3;
  font-weight: bold;
  margin-top: 30px;
 }
.limit:hover{
  cursor: pointer;
}
