.add-investment-main-box{
    width: 400px;
    height: 450px;
    box-shadow: 1px 1px 10px 1px grey;
    margin: auto;
    padding: auto;
    margin-top: 50px;
}
.main-heading{
    font-size: 30px;
    font-weight: bold;
    color: #075E54;
    text-align: center;
    position: relative;
    top:15px;
}
.type-of-investment-text{
    padding-left: 20px;
    font-weight: bold;
}
.Investment-type-option-div{
    width: 350px;
    height: 38px;
    font-size: 15px;
    box-shadow: 1px 1px 10px 1px grey;
    border: none;
    color: #5C5C5C;
    margin-left: 20px;
}
.input-text{
    width: 350px;
    height: 38px;
    font-size: 15px;
    box-shadow: 1px 1px 10px 1px grey;
    border: none;
    color: #5C5C5C;
    margin-left: 20px;
}
.add-investment-button{
    width: 350px;
    height: 38px;
    border: none;
    margin-left: 25px;
    position: relative;
    top: -130px;
    box-shadow: 1px 1px 10px 1px grey;
    text-align: center;
    color: #075E54;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    border: 1px #075E54 solid;
    border-radius: 5px;
}
.btn-{
    font-size: 19px;
    font-weight: bolder;
    position: relative;
    top: -82.5px;
    left: 140px;
}
.btn{
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    left: 25px;
}
.set-rupees{
    font-weight: bolder;
    position: relative;
    left: 85px;
    top: -39px;
}
.btn-paise{
    font-size: 20px;
    font-weight: bolder;
    position: relative;
    left: 220px;
    top: -83px;
}
.btn--paise{
    font-size: 19px;
    font-weight: bolder;
    position: relative;
    top: -165.5px;
    left: 353px;
}
.set-paise{
    font-weight: bolder;
    position: relative;
    left: 305px;
    top: -124.5px;
}